Django==5.2.5
djangorestframework==3.16.1
sentence-transformers==2.2.2
scikit-learn==1.7.1
scipy==1.15.3
numpy==1.26.4
requests==2.32.4
torch==2.1.2
transformers==4.29.2
safetensors==0.3.3
huggingface-hub==0.16.4
